/* Neon Animation */
@keyframes glowPulse {
  0% {
    text-shadow: 0 0 10px var(--Deep-Pink), 0 0 20px var(--Cyan);
  }

  50% {
    text-shadow: 0 0 30px var(--Deep-Pink), 0 0 50px var(--Cyan);
  }

  100% {
    text-shadow: 0 0 10px var(--Deep-Pink), 0 0 20px var(--Cyan);
  }
}

/* Container */
.landing-container {
  text-align: center;
  padding: 60px 20px;
}

/* Title */
.about-title {
  font-size: 5rem;
  color: var(--Deep-Pink);
  margin-bottom: 5px;
  text-shadow: 0 0 10px var(--Deep-Pink), 0 0 30px var(--Deep-Pink),
    0 0 50px rgba(255, 20, 147, 0.7);
}

/* Subtitle */
.about-subtitle {
  font-size: 1.5rem;
  color: var(--Cyan);
  margin-bottom: 40px;
  text-shadow: 0 0 40px rgba(0, 224, 255, 0.7);
}

/* Section */
.about-section {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-section-title {
  font-size: 1.5rem;
  color: var(--Deep-Pink);
  margin-bottom: 15px;
}

.about-section-title::before {
  content: "●";
  color: var(--Cyan);
  font-size: 1.2rem;
  margin-right: 10px;
  text-shadow: 0 0 10px var(--Cyan);
}

.about-section p {
  color: var(--White);
  max-width: 700px;
  line-height: 1.6;
  text-align: start;
}

/* Cards */
.about-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--Very-Dark-Blue);
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--White);
}

.card p {
  font-size: 0.9rem;
  color: var(--White);
}

/* Neon borders */
.card.cyan {
  border: 2px solid var(--Cyan);
  box-shadow: 0 0 15px var(--Cyan);
}

/* .card.pink {
  border: 2px solid var(--Deep-Pink);
  box-shadow: 0 0 15px var(--Deep-Pink);
} */

/* Buttons container */
.about-button {
  margin-top: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Buttons styles */
.btn {
  padding: 12px 28px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  color: var(--White);
  background: transparent;
  transform: translateY(0);
}

.btn.cyan {
  border: 2px solid var(--Cyan);
  box-shadow: 0 0 10px var(--Cyan);
}

.btn.cyan:hover {
  background: var(--Cyan);
  color: var(--Very-Dark-Blue);
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .about-title {
    font-size: 3.5rem;
  }

  .about-subtitle {
    font-size: 1.2rem;
  }

  .about-section {
    align-items: center;
    text-align: center;
  }

  .about-section p {
    text-align: center;
  }
}
