.landing-container {
  text-align: center;
  padding: 20px 10px;
}

/* Title */
.about-title {
  font-size: 5rem;
  color: var(--Deep-Pink);
  margin-bottom: 5px;
   text-shadow: 0 0 15px var(--Deep-Pink);
}
.about-subtitle {
  font-size: 1.5rem;
  color: var(--Cyan);
  margin-bottom: 40px;
  text-shadow: 0 0 40px rgba(0, 224, 255, 0.7);
}

/* Section */
.about-section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-section-title {
  font-size: 1.5rem;
  color: var(--Deep-Pink);
  margin-bottom: 15px;
}

.about-section-title::before {
  content: "●";
  color: var(--Cyan);
  font-size: 1.2rem;
  margin-right: 10px;
  text-shadow: 0 0 10px var(--Cyan);
}

.about-section p {
  color: var(--Dark-Gray);
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: start;
}

/* Cards */
.about-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: #111122;
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  color: var(--Dark-Gray);
}

/* Neon borders */
.card.cyan {
  border: 2px solid var(--Cyan);
  box-shadow: 0 0 15px var(--Cyan);
}

.card.pink {
  border: 2px solid var(--Deep-Pink);
  box-shadow: 0 0 15px var(--Deep-Pink);
}

/* Buttons */
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  color: var(--White);
  background: transparent;
}

.btn.cyan {
  border: 2px solid var(--Cyan);
  box-shadow: 0 0 10px var(--Cyan);
}

.btn.cyan:hover {
  background: var(--Cyan);
  color: var(--Very-Dark-Blue);
}

.btn.pink {
  border: 2px solid var(--Deep-Pink);
  box-shadow: 0 0 10px var(--Deep-Pink);
}

.btn.pink:hover {
  background: var(--Deep-Pink);
  color: var(--Very-Dark-Blue);
}
