/* .viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../../assets/game2-background.jpg");
  background-position: center;
  background-attachment: fixed;
}

.game2-container {
  width: 4000px;
  height: 100vh;
  position: relative;
  transition: transform 0.1s linear;
}

.pyramid {
  position: absolute;
  width: 500px;
  height: 350px;
  display: none;
}

.pyramid.visible {
  display: block;
}

.game-ui {
  position: fixed;
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 20;
} */

.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../../assets/back-ground.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.game2-container {
  width: 4000px;
  height: 100vh;
  position: relative;
  transition: transform 0.1s linear;
}

.pyramid {
  position: absolute;
  width: 600px;
  height: 500px;
}

.pyramid.visible {
  display: block;
}

.game-ui {
  position: fixed;
  top: 20px;
  left: 20px;
  color: var(--White);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 20;
}

.back-arrow {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--White);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.back-arrow:hover {
  transform: scale(1.2);
}

.controls-instruction {
  position: absolute;
  top: 20px; /* المسافة من الأعلى */
  left: 50%; /* لجعله في المنتصف أفقياً */
  transform: translateX(-50%); /* لضبط التوسط بدقة */
  color: white; /* لون النص (غيره حسب خلفية لعبتك) */
  font-size: 20px; /* حجم الخط */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* ظل للنص ليظهر بوضوح فوق الخلفية */
  z-index: 100; /* لضمان ظهوره فوق اللعبة */
  pointer-events: none; /* لكي لا يمنع الضغط على الأشياء تحته */
}
