.obstacle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../assets/stone.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  z-index: 5;
}
