/* Define global CSS variables for colors and theme */
:root {
  --White: #fff;
  --Deep-Pink: #ff00cc;
  --Cyan: #00e0ff;
  --Very-Dark-Blue: #0d0c1c;
  --Dark-Gray: #696969;
  --bg1: #2c5364;
  --bg2: #1a1a2e;
  --bg3: #3a3a66;
  --Red: #ff0000;
  --Black: #000;
  --Neon-Pink: #FF69B4;
  --Green: #5fdb5f;
  --Purple: #a200ff;
}

/* Global styles for body */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: "Poppins", sans-serif; /* Set default font */
  background-color: var(--Very-Dark-Blue); /* Set page background color */
  overflow-x: hidden; /* Prevent horizontal scroll */
  color: var(--White); /* Default text color */
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}
